<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodow.android.drive"
    android:versionCode="20"
    android:versionName="0.0.20-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <!-- This permission is not required if you are targeting your application to 4.1 or above (i.e., minSdkVersion 16) -->
    <permission
        android:name="com.goodow.android.drive.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.goodow.android.drive.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- GCM requires a Google account only if the device is running a version lower than Android 4.0.4 -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS"/> -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 查看网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.goodow.realtime.android.RealtimeApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.goodow.realtime.android.gcm.GCMRedirectedBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.goodow.android.drive" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.goodow.drive.android.receiver.DownloadBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.goodow.realtime.android.action.DOWNLOAD" />
            </intent-filter>
        </receiver>

        <service android:name="com.goodow.realtime.android.gcm.GCMIntentService" />
        <service android:name="com.goodow.drive.android.service.MediaDownloadService" />

        <activity
            android:name="com.goodow.drive.android.activity.LogInActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goodow.drive.android.activity.MainActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.goodow.drive.android.activity.DownloadActivity" />
        <activity
            android:name="com.goodow.drive.android.activity.play.AudioPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.goodow.drive.android.activity.play.VideoPlayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.goodow.drive.android.activity.play.FlashPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.goodow.drive.android.activity.play.PicturePlayAcivity"
            android:launchMode="singleTop" />

        <provider
            android:name="com.goodow.drive.android.provider.SearchSuggestionSampleProvider"
            android:authorities="com.goodow.drive.android.provider.SearchSuggestionSampleProvider" >
        </provider>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.goodow.drive.android.activity.MainActivity" />

        <!-- JUnit配置:记住这个一要放在application内,activity外 -->
        <uses-library android:name="android.test.runner" />
    </application>

    <!-- JUnit配置:记住这个一要放在application外面 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.goodow.android.drive" />

    <!-- JUnit配置:切记Run As\Run configurations内配置相应的 android.test.InstrumentationTestRunner!!!! -->

</manifest>